model_config_list {
  config {
    name: 'federated_model'
    base_path: '/federated_learning_project/saved_models'
    model_platform: 'tensorflow'
	model_version_policy {
	  specific {
		versions: 1
		versions: 2
	  }
	}
	version_labels {
	  key: 'fl_model_mine'
	  value: 1
	}
	version_labels {
	  key: 'fl_model_pretrained'
	  value: 2
	}
  }
}